.login {
  padding-top: rem(30);
  padding-bottom: rem(40);
}

.login__inner {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.login__title {
  text-align: center;
  font-size: rem(32);
  margin-bottom: rem(20);
}

.login__btn {
  text-align: center;
}
