.c-title-lavel {
  padding: rem(10);
  background-color: #eee;
}

.c-title-lavel.color-white {
  background-color: #fff;
}

.c-title-lavel__inner.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-title-lavel__inner.text-center {
text-align: center;
}

.c-title-lavel__title {
  display: inline-block;
  font-size: rem(14);
  color: #ccc;
}

.c-title-lavel__title--fwb {
  font-size: rem(20);
  font-weight: bold;
  color: #000;
}