.form-normal {

}

.form-normal__item {
  width: 100%;
  padding-left: rem(15);
  padding-right: rem(15);
  border: 1px solid #eee;  
  margin-bottom: rem(20);
}

.form-normal__item:last-of-type {
  margin-bottom: rem(50);
}

.form-normal__item--submit {
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-normal__input {
  padding-left: rem(10);
  padding-right: rem(10);
  height: 50px;
  font-size: rem(24);
}

.form-normal__input--submit {
  color: #fff;
  font-weight: bold;
}