.header-login {
  background-color: lightblue;
  color: #fff;
  padding: rem(15) rem(15);
}

.header-login__inner {

}

.header-login__text {
  font-size: rem(24);
  font-weight: bold;
  text-align: center;
}