.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  transform: translateY(100%);
  background-color: #fff;
}
.main-nav__inner {
  padding-top: rem(50);
  max-width: rem(768);
  margin-right: auto;
  margin-left: auto;
}
.main-nav__header {
  max-width: rem(768);
  margin-right: auto;
  margin-left: auto;
}
.main-nav__item:not(:last-of-type) {
  margin-bottom: rem(20);
}

.main-nav__item a  {
  color: lightblue;
  font-size: rem(24);
  padding: rem(15);
  display: inline-block;
  width: 100%;
  border: 1px solid lightblue;
}

.main-nav.open {
  transform: translateY(0);
  opacity: 1;
  transition: transform .3s, opacity .3s;
}
body.noscroll {
  overflow: hidden;
}