.sort-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(10);
}

.sort-form__left {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: rem(3);
  border-radius: rem(5);
}

.sort-form__all {
  padding: rem(3) rem(10);
  // background-color: #fff;
}

.sort-form__favorite {
  padding: rem(3) rem(10);
  font-weight: bold;
  background-color: #fff;
  border-radius: rem(5);
}

.sort-form__right {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding: rem(3);
  border-radius: rem(5);
}

.sort-form__select {
  span {
    margin-left: rem(5);
  }
  .active-sort {
    font-weight: bold;
  }
}

.sort-form__select:first-of-type {
  margin-right: rem(10);
}

.active-sort-form { 
  padding: rem(3) rem(10);
  font-weight: bold;
  background-color: #fff;
  border-radius: rem(5);
}

